@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
  height: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #001229;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5c7799;
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(46, 46, 46, 0.831);
  cursor: pointer;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #ffffff;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px #23232329;
}

body {
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  font-family: "Manrope", sans-serif;
  overflow-x: hidden;
}
.bg-gradient {
  background: linear-gradient(to right, #199ad13d, #06afb2);
}

.font {
  font-family: sans-serif !important;
}
.rainbow-calendar_month-text {
  color: white !important;
}
.rainbow-calendar_day-adjacent {
  color: #7e7e7e !important;
}
.rainbow-calendar_day-button {
  color: #fff !important;
}
.rainbow-select {
  background-color: rgb(26 41 61) !important;
  color: white !important;
}
